<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome mail</title>
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <style>
    body {
      font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
      color: #191f28;
      font-size: 16px;
    }
  </style>
</head>
<body>
<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  class="wrapper"
>
  <tbody style="display: block; width: 100%;">
  <tr width="100%" style="display: block">
    <td width="100%" style="display: block">
      <table
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        bgcolor="#FFFFFF"
        style="
                display: inline-block;
                text-align: left;
                border-collapse: collapse;
              "
        class="container"
      >
        <tbody style="display: block; padding: 50px 20px">
        <tr style="display: block; width: 100%; padding-bottom: 16px; margin-bottom: 24px; border-bottom: 1px solid #e9e9e9;">
          <td>
            <img src={{logoUrl}} alt="Logo" style="height: 28px; width: auto">
          </td>
        </tr>
        <tr style="display: block;">
          <td style="display: block; color: #333D4B; line-height: 22px">
            <p>Hi {{name}},</p>
            <p style="margin-bottom: 40px">Welcome to Glimpse! Excited to meet fellow participants at events and expand your network?</p>

            <b style="display: block; color: #333D4B; line-height: 1.2">
              Getting Started
            </b>
            <ul style="list-style-type: decimal; padding-left: 15px; line-height: 1.8;">
              <li>
                <b>Complete Your Profile</b>: If you haven't finished your profile yet, take a moment to complete it. This will allow you to easily register your participant card for various events with just a click.
              </li>
              <li>
                <b>Register for Your First Event</b>: Did you receive a Glimpse event link from your event host? Access the event page and register your participant card for your first event.
              </li>
              <li>
                <b>Network and Connect</b>: Discover and engage with fellow participants through our comprehensive networking features:
                <ul style="list-style-type: circle; padding-left: 15px; line-height: 1.8;">
                  <li>Browse participant cards to learn about your fellow participants</li>
                  <li>Search for specific participants you are looking for based on interests, expertise, etc.</li>
                  <li>Explore AI-curated participants for potential connections</li>
                  <li>Reach out to other participants via integrated social media links</li>
                </ul>
              </li>
            </ul>
            <p style="margin: 40px 0">Our friendly support team is here to help you and would like to hear from you. If you need assistance or have any feedback, please don't hesitate to reach out <a href="mailto:support@onedegreelabs.io">here</a>.
            <p style="margin: 40px 0">Many Thanks</p>
            <p>
              <b style="display: block; color: #333D4B; line-height: 30px">Eric</b>
              CEO of One Degree Labs
            </p>
          </td>
        </tr>
        <tr
          width="100%"
          style="
                    display: block;
                    padding-top: 16px;
                    margin-top: 24px;
                    border-top: 1px solid #e9e9e9;
                  "
        >
          <td style="display: block; color: #B0B8C1; font-size: 12px; line-height: 20px">
            © 2024 One Degree Labs Co. All Rights Reserved
          </td>
          <td style="display: block; color: #B0B8C1; font-size: 12px; line-height: 20px">
            Email: <a href="mailto:support@onedegreelabs.io" style="color: #B0B8C1;">support@onedegreelabs.io</a>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>

